[Unit]
Description=User interface server
Wants=basic.target
After=basic.target
After=network.target
After=syslog.target

[Service]
Type=simple

# Run configuration
User=bookpi
Group=bookpi
WorkingDirectory=/opt/bookpi
EnvironmentFile=/opt/bookpi/environment

# Logging configuration
SyslogIdentifier=server
StandardOutput=syslog
StandardError=syslog

# Start directive
ExecStart=/usr/local/bin/bookpi-server

# Restart configuration
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
